---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { getNewsPosts } from "../../microcms";

const res = await getNewsPosts();
---

<Layout title="news | sample Web">
  <main>
    <h1 class="title">news</h1>
    <ul>
      {
        res.contents.map(x => (
          <li>
            <Image class="thumbnail" src={x.thumbnail.url} alt={x.title} width={x.thumbnail.width} height={x.thumbnail.height} />
            <a href={"/news/"+x.id}>{x.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
  .thumbnail {
    width: 10ch;
    height: auto;
  }
</style>

